<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="static/img/office.jpg" class="img-square" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Best Company Ltd</p>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="/">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li class="header">RELEVANT LINKS</li>
            <li><a href="https://github.com/pradnyaalc/user-hierarchy-flask-app"><i class="fa fa-circle-o text-aqua"></i> <span>Visit Developer</span></a></li>
        </ul>
    </section>
</aside>