{% extends 'main.html' %}

{% block body %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Employee Information</h3>
            </div>
            <div class="box-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label>Select an employee!</label>
                        <select class="form-control" name="user">
                            {% for user in all_users %}
                                <option value="{{ user.id }}">{{ user.id }}. {{ user.name }} ({{ user.role.name }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="box-body">
                <h2 class="page-header">Employee Name : <strong>{{ user_name }}</strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Employee ID : <strong>{{ user_id }}</strong></h2>

                <table style="width:50%">
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Employee Role</th>
                    </tr>
                    {% for emp in sub_employee%}
                    <tr>
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.role.name }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}